.todo-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 14pt;
  width: 98%;
  max-width: 500px;

  @mixin box-shadow {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px,
      rgba(0, 0, 0, 0.1) 0px 3px 6px;
  }

  header {
    h2 {
      font-weight: 400;
      font-size: 15pt;
      text-align: center;
      span {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .list-head {
      padding: 10px 5px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
      font-weight: 700;
      display: flex;

      span.title {
        flex: 1;
      }

      .elipsis-container {
        padding: 3px 12px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }

        .options {
          width: 200px;
          font-size: 10pt;
          position: absolute;
          top: 35px;
          padding: 8px 15px;
          right: 0;
          z-index: 2;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          align-items: flex-start;
          @include box-shadow;

          .option {
            padding: 3px;
            width: 100%;
            text-align: left;
            color: rgb(79, 43, 45);
            font-weight: 400;
            background-color: transparent;
            border: none;

            svg {
              margin-right: 7px;
            }
          }
        }
      }
    }
  }

  .task-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .task-item {
      border-radius: 4px;
      min-height: 50px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      color: rgb(85, 85, 85);
      justify-content: center;
      padding: 14px 22px;
      row-gap: 10px;
      transition: transform 0.6s ease;
      @include box-shadow;

      &:hover {
        transform: scale(1.01);
      }

      &.completed {
        .task__head {
          .fa-check {
            color: rgb(186, 73, 73);

            &:hover {
              color: rgba(186, 73, 73, 0.8);
            }
          }
          text-decoration: line-through;
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 8px;
      }

      &:hover::after {
        background-color: rgba(0, 0, 0, 0.3);
      }

      &.active::after {
        background-color: black;
      }

      &.active:hover::after {
        background-color: black;
      }

      .task__head {
        display: flex;
        align-items: center;
        column-gap: 10px;

        .fa-check {
          color: rgb(204, 204, 204);
          font-size: 20pt;

          &:hover {
            color: rgb(220, 220, 220);
          }
        }

        h3 {
          flex: 1;
        }
      }

      .task__body {
        margin-left: 10px;
        white-space: pre-wrap;
        color: rgb(96, 85, 21);
        padding: 10px 12px;
        word-break: break-word;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
        background-color: rgb(252, 248, 222);
        font-size: 12pt;
      }
    }
  }

  .task-form {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    @include box-shadow;

    .form-body {
      display: flex;
      flex-direction: column;
      padding: 25px 15px;
      row-gap: 10px;

      & > * {
        padding: 8px;
        border: none;
        border-radius: 4px;

        &::placeholder {
          color: rgba(0, 0, 0, 0.2);
        }

        &:focus {
          outline: none;
        }
      }

      .task-name {
        background-color: transparent;
        font-weight: 600;
        font-size: 20pt;

        @media screen and (max-width: 400px) {
          font-size: 14pt;
        }

        @media screen and (max-width: 300px) {
          font-size: 12pt;
        }
      }

      .task-note {
        background-color: rgb(239, 239, 239);
        font-size: 12pt;

        @media screen and (max-width: 300px) {
          font-size: 10pt;
        }
      }
    }

    .form-btns {
      display: flex;
      justify-content: flex-end;
      column-gap: 10px;
      padding: 15px 20px;
      background-color: rgb(239, 239, 239);

      button {
        padding: 8px 15px;
        align-items: center;
        border: none;
        border-radius: 4px;
        font-size: 12pt;

        &.save-btn {
          background-color: rgb(34, 34, 34);
          color: white;
        }

        &.cancel-btn {
          background-color: transparent;
          color: rgb(136, 136, 136);
        }
      }
    }
  }

  .add-task-btn {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: inherit;
    font-weight: 600;
    padding: 20px 0;
    border: 2px dashed rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    .fa-plus {
      margin-right: 5px;
    }
  }
}
