@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  font-size: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(122, 122, 122, 0.6);
    border-radius: 1px;
  }

  #root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #ba4949;
    color: white;
    font-size: 20pt;
    padding: 80px 10px 40px;
    font-family: "Roboto", sans-serif;

    @media screen and (max-width: 310px) {
      font-size: 18pt;
    }

    span.author {
      font-size: 11pt;

      a {
        color: white;
      }
    }
  }
}
